<div class="card">
  <div class="card-header">
    <div class="col-md-12">
      <h1>{{restaurant.name}}</h1>
      <p>[{{restaurant.Category.name}}]</p>
    </div>
  </div>
  <div class="card-body">
    <ul>
      <li>評論數:</li>
      <li>瀏覽次數:</li>
      <li>收藏次數:</li>
    </ul>
  </div>
</div>